<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
	 <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="system@topone.hk">
             <network host="smtp.gmail.com" password="P@ssw0rd88" userName="system@topone.hk" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
                <rewrite>
            <rules>
                <clear />
                <rule name="CanonicalHostNameRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^www\.topone\.hk$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.topone.hk/{R:1}" />
                </rule>
                <rule name="http to https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="LowerCaseRule1" enabled="true" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
                <rule name="AddTrailingSlashRule1" enabled="true" stopProcessing="true">
                    <match url="(.*[^/])$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>